.body *{
    margin: 0px;
    padding: 0px;
    color: #000;
}
.card-styling{
    width: 30%;
    margin: 10px;
    padding: 20px;    
    color: rgb(255,255,255);
}
#top-headline-heading{
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;
    color: burlywood;
}
.main{
    background: #000;
}
.card-body h5{
    color: burlywood;
}
@media screen and (max-width: 900px) {
    .card-styling{
        width: 80%;
        margin: auto;
        margin-bottom: 20px;
        padding: 20px;    
        color: rgb(255,255,255);
    }
    #top-headline-heading{
        width: 100%;
        margin: 0px;
        padding: 20px;
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-style: oblique;
        color: burlywood;
    }
}
